 # 1.Even/Odd Number

In [2]:
#finding even and odd number
n=101
if (n%2==0):
    print("this number is Even")
else :
    print("this number is odd")

this number is odd

# 2. Fibonacci series

In [84]:
#sum of previous 2 number and always start with 0 and 1
n=int(10)
a=0
b=1
print(a)
print(b)
for i in range(2,n):
    tmp=a+b
    a=b
    b=tmp
    print(tmp)

0
1
1
2
3
5
8
13
21
34

# 3. Fibonacci 'N'th number

In [86]:
#finding prime number at n position
n=100
if(n<3):
    print(n-1)
else:
    a=0
    b=1
    for i in range(2,n):
        tmp=a+b
        a=b
        b=tmp
    print(tmp)

218922995834555169026

# 4. Prime number

In [7]:
#finding prime number
n=71
for i in range(2,n):
    if(n%i==0):
        print(n,"is not prime number")
        break
    else:
        print(n,"is prime number")
        break

71 is prime number

# 5. Palindrome number

In [90]:
# those number whose original and reverse number are equal 
n=222
r=0
o=n
while n>0:
    r*=10
    r+=n%10
    n=n//10
if o==r :
    print(o,"is palindrome")
else:
    print(o,"is not palindrome")

222 is palindrome

# 6. Binary Palindrome Number

In [11]:
# those number whose original and reverse binary are equal
n=5
b=bin(n)[2:]
r=b[::-1]
if b==r:
    print(n,"is palindrome")
else:
    print(n,"is not palindrome")

5 is palindrome

# 7.Armstrong number

In [81]:
# those number whose each digit's cube's sum is equal to the number
# for example 153 = 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153

#finding Armstrong number in 10**n digit
import math
num=int(input("Enter digit of number : "))
n=pow(10,num)
dig=0
for i in range(1,n):
    sum=0
    tmp=i
    while tmp>0:
        sum+=pow(tmp%10,math.log10(n))
        tmp=tmp//10
    if sum==i:
            print(i,"is Armstrong number")

1 is Armstrong number
1634 is Armstrong number
8208 is Armstrong number
9474 is Armstrong number

In [58]:
#Checking for Armstrong number
n=407
sum=0
tmp=n
while n>0 :
    sum+=(n%10)**3
    n=n//10
if sum==tmp :
    print(tmp,"is Armstrong number")   
else:
    print(tmp,"is not Armstrong number")

407 is Armstrong number

# 8. Reverse

In [1]:
#the number which is exact opposite of the original number is called a reverse number
# for example 123 = 321 , 456 = 654 , 789 = 978

In [6]:
n=123456789
r=0
while n:
    r*=10
    r+=n%10
    n//=10
print(r,"is reverse number")

987654321 is reverse number

# 9. Factorial number

In [7]:
# the number which is product of all decending integer till is 1 called factorial number
# for example 5! = 5*4*3*2*1 = 120

In [8]:
n=5
f=1     #factorial of 1 is always 1
for i in range(1,n+1):
    f*=i
print(f)

120